<div class="main-container" >
  <div class="btn-container-top">
    <% if user_signed_in? %>
      <button type="button" class="text-white"><%= link_to "冷蔵庫一覧", foods_path %></button>
      <button type="button" class="text-white"><%= link_to "買い物リスト",shopping_lists_path %></button>
      <button type="button" class="text-white"><%= link_to "レシピ検索", youtube_index_path %></button>
    <% else %>
      <button type="button" class="text-white"><%= link_to "今すぐはじめる", new_user_registration_path %></button>
      <button type="button" class="text-white"><%= link_to "ログイン", new_user_session_path %></button>
      <button type="button" class="text-white"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></button>
    <% end %>
  </div>
    
  <h3>
    ①冷蔵庫一覧・・・買った商品や期限を記録しておくことができます
    <br>
    <br>
    ②買い物リスト・・・買いたい商品をメモにして残すことができます
    <br>
    <br>
    ③レシピ検索・・・本サービスからレシピを検索しYouTube動画を視聴できます
  </h3>
</div>