<h1 class="text-center">ãƒ¬ã‚·ãƒ”æ¤œç´¢</h1>
  <%= form_tag(youtube_index_path, method: :get) do %>
    <%= text_field_tag :search, "", placeholder:"ðŸ”ææ–™ã€ãƒ¬ã‚·ãƒ”ã§æ¤œç´¢" %>
    <%= submit_tag 'æ¤œç´¢' %>
  <% end %>

  <% @youtube_data.items.each do |item| %>
    <% snippet = item.snippet %>
    <p><%= snippet.title %></p>
    <p><%= snippet.published_at %><%= snippet.channel_title %></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% end %>
