<div class="box">
<h2><%= t('.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="box-email">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレスを入力' %>
  </div>

  <div class="box-password">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: '任意のパスワードを入力' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="box-login">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="box-login">
    <%= f.submit t('.sign_in') %>
  </div>
<% end %>

  <div class="box-newusr">
    <%= render "devise/shared/links" %>
  </div>
</div>