<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2 class="alert alert-danger"><%= food.errors.count %> 件のエラーが発生しました</h2>
      <ul>
        <% food.errors.full_messages.each do |message| %>
          <div class="text-center">
            <%= message %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= form.label :due_time %>
    <%= form.datetime_field :due_time %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id%>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
