<h1 class="text-center">冷蔵庫一覧</h1>

<h5 class="text-center">商品名キーワード検索</h5>
  <div class="text-center"><%= search_form_for @q, url: search_foods_path do |f| %>
    <%= f.search_field :name_cont,  placeholder:"商品名"%>
    <%= f.submit '検索' %>
  <% end %>
  </div>
<br>
<div class="text-center"><%= link_to '冷蔵庫に追加', new_food_path, class: "btn btn-primary" %></div>
<br>
<table class="table table-hover table-bordered">
  <thead class="table-info">
    <tr>
      <th><div class="text-center">商品</div></th>
      <th><div class="text-center"><%= sort_link(@q, :due_time, "期限", hide_indicator: true )%></div></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><div class="text-center"><%= food.name %></div></td>
        <td><div class="text-center"><%= food.due_time&.strftime("%Y/%m/%d %H:%M") %></div></td>
        <td>期限が切れるまで残り<%= (food.due_time.end_of_day - Time.zone.now).to_i / 1.day %>日</td>
        <td><div class="text-center"><%= link_to '編集', edit_food_path(food), class: "btn btn-success" %></div></td>
        <td><div class="text-center"><%= link_to '削除', food, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %></div></td>
    <% end %>
  </tbody>
</table>

<br>
<div class="mb-5"><%= month_calendar(attribute: :due_time, events: @foods) do |date, foods| %>
  <%= date.day %>
  <% foods.each do |food| %>
    <div>
      <%= food.name %>
    </div>
  <% end %>
<% end %>
</div>