<%= form_with(model: shopping_list, local: true) do |form| %>
  <% if shopping_list.errors.any? %>
    <div id="error_explanation">
      <h2 class="alert alert-danger"><%= shopping_list.errors.count %> 件のエラーが発生しました</h2>

      <ul>
        <% shopping_list.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
