<p>
  <strong>商品</strong>
  <%= @shopping_list.title %>
</p>

<p>
  <strong>備考</strong>
  <%= @shopping_list.content %>
</p>

<p>コメント一覧</p>

  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, shopping_list: @shopping_list } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, shopping_list: @shopping_list } %>

  <%= link_to '戻る', shopping_lists_path %>
</div>
