<!DOCTYPE html>
<html>
  <head>
    <title>NoWaste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "トップ", articles_path %>
    <%= link_to "冷蔵庫一覧", foods_path %>
    <%= link_to "買い物リスト",shopping_lists_path %>

    <% if user_signed_in? %>
      <%= link_to "レシピ検索", youtube_index_path %>
      <%= link_to "マイページ", user_path(current_user) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
      <%= link_to "ゲスト管理者ログイン", users_admin_guest_sign_in_path, method: :post %>
    <% end %>

    <% if current_user.try(:admin?) %>
      <%= link_to '管理者画面', rails_admin_path %>
    <% end %>

    <hr>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
